{% extends "base.html" %}
{% block index %}
<div class="ui container" id='dash_board'>
    <h3>
        <a href="http://www.clinicaltrials.gov" target="_blank">ClinicalTrials.gov</a> currently lists
        <span id="ctgov_number">{{nnct}}</span> studies for COVID-19, and {{nnct_us}} in United States
        <p>DQuest currently included {{nnct_local_kb}} trials.</p>
    </h3>
</div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui stackable very relaxed center aligned grid container">
    <h2 class="ui header">DQueST: Find Clinical Trials for COVID-19 in the United States
    </h2>

    <div id='hm_blurb_container' class='ui container'>
        <div class="ui message" id="hm_blurb">
            <ul class="list">
                <li>DQueST is an online tool to allow patients, clinicians, healthy volunteers, and anyone interested in helping fight the COVID-19 global health crisis find nearby trials in the United States that they may be eligible for. New clinical trials are opened every day, so we work very hard to make sure our information is as up-to-date as possible. If you find any missing or outdated information, please let us know!
                </li>
                <li>To use this tool, please enter your location below (be as specific as possible: ex. 'New York City, United States'). You will then be asked a series of 5-6 questions to help find the most appropriate clinical trials looking for patients today. These questions include whether you have been diagnosed with COVID-19 or if you are currently pregnant. After that, the available clinical trials will be listed for you and you will have the option to answer further medical questions about your medical history, surgical history, or previous treatments to further pick the best trial for you.
                </li>
                <li>This tool is an ongoing collaborative project designed and built by members of Dr. Chunhua Weng's Lab at the Columbia University Department of Biomedical Informatics. If have any feedback or would like to get involved in this project, please feel free to reach out to us using the 'About Us' link at the top of the page. Thank you for getting involved in clinical research and stay safe!
                </li>
            </ul>
        </div>
    </div>


    <div id='search_form_container' class='ui container'>
        <form class="ui form" id="search_form" name="">
            <div hidden class="field">
                <label>Conditions or Disease (for example: breast cancer)</label>
                <div class="ui search">
                    <input class="prompt" name="term" id="first_focus" placeholder="Breast Cancer" value="COVID-19">
                </div>
            </div>
            <div class="ui hidden divider"></div>
            <div class="field">
                <label>What is your Current Location?</label>
                <input class="input_field field_text" type="text" id="location_terms" value=""
                    placeholder="Los Angeles" />
            </div>

            <div class="ui secondary submit button" id="search_button">Search</div>

            <div class="ui error message"></div>
            <div class="ui message">
                <ul class="list">
                    <li>This tool is designed to help patients, clinicians, or healthy volunteers find nearby clinical trials targeting the novel coronavirus (COVID-19) and actively looking for participants</li>
                    <li>Pressing the SEARCH button will highlight all trials near you, and then you will be asked a series of brief questions to help identify the most appropriate trials for you</li>
                    <li>The current search is limited to only trials in the United States, but future versions will include all studies hosted on ClinicalTrials.gov</li>
                </ul>
            </div>
        </form>
    </div>

</div>

<div class="ui hidden divider"></div>
<div id='adv_search_container' class='ui container' style="display:none">
    {% include "advsearch.html" %}
</div>

<div class="ui hidden divider"></div>
<div id="question_container" class="ui container" style="display:none">
    {% include "qform.html" %}
</div>

<div class="ui hidden divider"></div>
<div id='multiquestions_container' class='ui container' style="display:none">
    {% include "multiquestions.html" %}
</div>

<div class="ui hidden divider"></div>
<div id='results_container' class="ui container" style="display:none">
    {% include "results.html" %}
</div>

{% endblock %}
